
<div class="columns column is-multline container is-fluid"> 

    <div class="column is-12-mobile  is-4-desktop is-4-tablet is-4-fullhd"> 
        <div  id="logincontainer" class="has-background-primary">
            <label>Username</label>
            <input class="input " type="text" id="username" [(ngModel)]="username" placeholder="username" >
            <label>Password</label>
            <input class="input " type="password" id="password" [(ngModel)]="password" placeholder="Password" >

            <div id="loginbuttoncontainer">
            <!--<button class="button is-primary is-light"> sign up</button>-->
            <button class="button is-primary is-light"  id="loginbutton" (click)="SignInUser()"> sign in</button>

         
            </div>
            <p id="errorcantlogin">{{cantLogin}}</p>
        </div>


      


    </div>
</div>
