<h2 class="has-text-centered is-size-4 mb-2">Search Assets</h2>
<div class="search-box columns ">
    <div class="column">
        <div class="field has-addons mb-4">
            <div class="control">
                <input class="input" type="text" [(ngModel)]="searchStockInput" placeholder="Stock ticker">
            </div>
            <div class="control">
                <button class="button is-primary " (click)="onGetStockClick()">Search</button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="field has-addons">
            <div class="control">
                <input class="input" type="text" [(ngModel)]="searchCryptoInput" placeholder="Crypto ticker">
            </div>
            <div class="control">
                <button class="button is-primary" (click)="onGetCryptoClick()">Search</button>
            </div>
        </div>
    </div>

</div>
<table class="table" id="search-table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Open</th>
            <th>Close</th>
            <th>Shares</th>
            <th>Add</th>
        </tr>
    </thead>
    <ng-container *ngIf="stockResults">
        <tr>
            <td>{{stockResults.symbol}}</td>
            <td>{{stockResults.name }}</td>
            <td>{{stockResults.open | currency}}</td>
            <td>{{stockResults.close | currency}}</td>
            <td><input type="number" value="0" class="input is-small is-primary" min=0 id="quantity"
                    [(ngModel)]="sharesInput">
            </td>
            <td><button class="button is-primary is-small" value="{{stockResults.symbol}}"
                    (click)="addStockClick()">Add</button></td>
        </tr>
    </ng-container>
    <ng-container *ngIf="cryptoResults">
        <tr>
            <td>{{cryptoResults.symbol}}</td>
            <td>{{cryptoResults.name }}</td>
            <td>{{cryptoResults.open | currency}}</td>
            <td>{{cryptoResults.close | currency}}</td>
            <td><input type="number" value="0" class="input is-small is-primary" min=0 id="quantity"
                    [(ngModel)]="sharesInput">
            </td>
            <td><button class="button is-primary is-small" value="{{cryptoResults.symbol}}"
                    (click)="addCryptoClick()">Add</button></td>
        </tr>
    </ng-container>
</table>