
<div class="columns container is-fluid  is-centered">

    <div class="column   is-12-mobile is-4-desktop  is-4-tablet">
       <form class="signupcontainer has-background-primary" name="myForm" > 
         <label> Firstname </label>
         <input type="text" class="input"   [(ngModel)]="Firstname" name = "firstname" minlength="3" maxlength="30" required/>

         <label> Lastname </label>
         <input type="text" class="input"  [(ngModel)]="Lastname"  name ="lastname" minlength="3" maxlength="30"  required/>

         <label> Email </label>
         <input type="email" class="input" [(ngModel)]="Email" required  minlength="3" maxlength="50"  name="email" />

         <label>User Name </label>
         <input type="text" class="input" [(ngModel)]="Username" name="username" minlength="3" maxlength="30" required />

         <label>Password </label>
         <input type="password" class="input"  [(ngModel)]= "Password"  name ="password" minlength="3" maxlength="30" required />

         <button type="submit" (click)="SignupUser()" id="signingup" class=" button is-rounded has-background-primary-dark"> Sign up </button>
           
        
         <span id="errormessagesignup">{{invalidmessage}} </span>
        

       </form>
    </div>
</div>


